:host {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  display: block;
  overflow: auto;
  zoom: 1;
}
:host {
  *zoom: 1;
  margin-left: -15px;
  margin-right: -15px;
}