:host {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
:host(:before),
:host(:after) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:host([xs="1"]), :host([xs="2"]), :host([xs="3"]), :host([xs="4"]), :host([xs="5"]), :host([xs="6"]), :host([xs="7"]), :host([xs="8"]), :host([xs="9"]), :host([xs="10"]), :host([xs="11"]), :host([xs="12"]) {
  float: left;
}

:host([xs="12"]) {
  width: 100%;
}
:host([xs="11"]) {
  width: 91.66666667%;
}
:host([xs="10"]) {
  width: 83.33333333%;
}
:host([xs="9"]) {
  width: 75%;
}
:host([xs="8"]) {
  width: 66.66666667%;
}
:host([xs="7"]) {
  width: 58.33333333%;
}
:host([xs="6"]) {
  width: 50%;
}
:host([xs="5"]) {
  width: 41.66666667%;
}
:host([xs="4"]) {
  width: 33.33333333%;
}
:host([xs="3"]) {
  width: 25%;
}
:host([xs="2"]) {
  width: 16.66666667%;
}
:host([xs="1"]) {
  width: 8.33333333%;
}

@media (min-width: 768px) {
  :host([sm="1"]), :host([sm="2"]), :host([sm="3"]), :host([sm="4"]), :host([sm="5"]), :host([sm="6"]), :host([sm="7"]), :host([sm="8"]), :host([sm="9"]), :host([sm="10"]), :host([sm="11"]), :host([sm="12"]) {
    float: left;
  }
  :host([sm="12"]) {
    width: 100%;
  }
  :host([sm="11"]) {
    width: 91.66666667%;
  }
  :host([sm="10"]) {
    width: 83.33333333%;
  }
  :host([sm="9"]) {
    width: 75%;
  }
  :host([sm="8"]) {
    width: 66.66666667%;
  }
  :host([sm="7"]) {
    width: 58.33333333%;
  }
  :host([sm="6"]) {
    width: 50%;
  }
  :host([sm="5"]) {
    width: 41.66666667%;
  }
  :host([sm="4"]) {
    width: 33.33333333%;
  }
  :host([sm="3"]) {
    width: 25%;
  }
  :host([sm="2"]) {
    width: 16.66666667%;
  }
  :host([sm="1"]) {
    width: 8.33333333%;
  }
}

@media (min-width: 992px) {

  :host([md="1"]), :host([md="2"]), :host([md="3"]), :host([md="4"]), :host([md="5"]), :host([md="6"]), :host([md="7"]), :host([md="8"]), :host([md="9"]), :host([md="10"]), :host([md="11"]), :host([md="12"]) {
    float: left;
  }
  :host([md="12"]) {
    width: 100%;
  }
  :host([md="11"]) {
    width: 91.66666667%;
  }
  :host([md="10"]) {
    width: 83.33333333%;
  }
  :host([md="9"]) {
    width: 75%;
  }
  :host([md="8"]) {
    width: 66.66666667%;
  }
  :host([md="7"]) {
    width: 58.33333333%;
  }
  :host([md="6"]) {
    width: 50%;
  }
  :host([md="5"]) {
    width: 41.66666667%;
  }
  :host([md="4"]) {
    width: 33.33333333%;
  }
  :host([md="3"]) {
    width: 25%;
  }
  :host([md="2"]) {
    width: 16.66666667%;
  }
  :host([md="1"]) {
    width: 8.33333333%;
  }

}


@media (min-width: 1200px) {
  :host([lg="1"]), :host([lg="2"]), :host([lg="3"]), :host([lg="4"]), :host([lg="5"]), :host([lg="6"]), :host([lg="7"]), :host([lg="8"]), :host([lg="9"]), :host([lg="10"]), :host([lg="11"]), :host([lg="12"]) {
    float: left;
  }
  :host([lg="12"]) {
    width: 100%;
  }
  :host([lg="11"]) {
    width: 91.66666667%;
  }
  :host([lg="10"]) {
    width: 83.33333333%;
  }
  :host([lg="9"]) {
    width: 75%;
  }
  :host([lg="8"]) {
    width: 66.66666667%;
  }
  :host([lg="7"]) {
    width: 58.33333333%;
  }
  :host([lg="6"]) {
    width: 50%;
  }
  :host([lg="5"]) {
    width: 41.66666667%;
  }
  :host([lg="4"]) {
    width: 33.33333333%;
  }
  :host([lg="3"]) {
    width: 25%;
  }
  :host([lg="2"]) {
    width: 16.66666667%;
  }
  :host([lg="1"]) {
    width: 8.33333333%;
  }